<div class="container-fluid" id="radape">
  <div class="row">
    <!-- grid -->
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center"
      id="coluna1"
    >
      <h4>Revenda Natura</h4>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center"
      id="coluna2"
    >
      <h6>Entre em Contato</h6>
      <p><i class="fab fa-whatsapp"></i>(617)999-000</p>
      <p><i class="fas fa-globe"></i>www.sergio.com</p>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center"
      id="coluna3"
    >
      <h6>Siga nas redes social</h6>
      <p><i class="fab fa-instagram"></i> @naturassp</p>
      <h6><i class="fas fa-hashtag"></i> naturassp</h6>
    </div>
  </div>
</div>
